# Dependencies
node modules
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
build/
dist/
.next/
out/

# Environment Variables (Keep these safe!)
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc / System
.DS_Store
*.log
.eslintcache
typechain-types/
typechain-types
artifacts/
cache/

# Hardhat / TS Extras
coverage.json
*.tsbuildinfo

# Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE - VS Code & IntelliJ
.vscode/
.idea/
*.swp
*.swo

# Secret Files (Safety Net)
*.pem
*.key
secrets.json